@font-face {
    font-family: parastoo;
    src: url(/main/fonts/Parastoo.woff);
}

html{
    scroll-behavior: smooth;

}
body {
    font-family: parastoo !important;
}

a {
    text-decoration: none !important;
}


.footer-news .form-control {
    width: 350px;
}

.form-group {
    direction: rtl;
}

h5 {
    color: red;
    text-align: center;
}



#header {
    z-index: 997;
    transition: all 0.5s;
    padding: 22px 0;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 49%, rgba(0, 85, 162, 1) 100%);
}

.menu-logo {
    display: none;
}
.navbar-brand{
    direction: rtl;
    text-align: right;
    float: right;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: right;
 
}
.navbar-search-icon,
.fa-shopping-cart,
.fa-user
{
    font-size: 20px !important;
}



.navbar a,
.navbar a:focus {
    display: flex;
    align-items: right;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 20px;
    font-weight: 400;
    color: white;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .navbar li:hover>a {
    color: yellow;
}


.bi-list {
    color: white;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 1600px) {
    .bi-list {
        display: block;
    }
    .navbar ul {
        display: none;
    }
}

.modal-body ul {
    direction: rtl;
    text-align: right;
    float: right;
    list-style: none;
}

.signup {
    text-align: center;
    direction: rtl;
}

#hero {
    color: white;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 49%, rgba(0, 85, 162, 1) 100%);
    background-size: cover;
}

#hero .container,
#hero .container-fluid {
    padding-top: 84px;
}

#hero h1 {
    text-align: right;
    margin: 0;
    font-size: 52px;
    line-height: 64px;
}

#hero h2 {
    text-align: right;
    margin: 10px 0 0 0;
    font-size: 20px;
}

#hero .form-group {
    text-align: right;
    direction: rtl;
}

#hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1200px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    #hero {
        text-align: center;
    }
    #hero .container,
    #hero .container-fluid {
        padding-top: 68px;
    }
    #hero .animated {
        -webkit-animation: none;
        animation: none;
    }
    #hero .hero-img {
        text-align: center;
    }
    #hero .hero-img img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 26px;
        line-height: 36px;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
    }
    #hero .hero-img img {
        width: 50%;
    }
}

@media (max-width: 575px) {
    #hero .hero-img img {
        width: 50%;
    }
}

@media (max-width: 575px),
(max-height: 600px) {
    #hero {
        height: auto;
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

section {
    padding: 100px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #f9f8ff;
}

.section-title {
    text-align: center;
    padding-bottom: 5px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    padding-bottom: 20px;
    position: relative;
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #5846f9;
    bottom: 0;
    left: calc(50% - 25px);
}

.section-title p {
    margin-bottom: 0;
}

#hero .animate__animated {
    animation-delay: 0.5s;
}

.hero-logo {
    width: 350px;
    margin-left: 60px;
}

.id {
    font-size: 30px;
    display: none;
    margin-left: 30px;
}

.signup,
.login {
    font-size: 20px;
    margin-left: 30px;
}

.about {
    padding: 50px 0;
    direction: rtl;
}

.about .content h3 {
    font-weight: 600;
    font-size: 32px;
    color: black;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content li {
    margin-top: 10px;
}

.about .content ul li {
    padding-bottom: 10px;
}

.about .content ul i {
    font-size: 20px;
    padding-right: 4px;
    margin-left: 5px;
    color: blue;
}

.about .content p:last-child {
    margin-bottom: 0;
}

.about .content .read-more {
    font-family: parastoo;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 50px 10px 28px;
    border-radius: 5px;
    transition: 0.5s;
    color: black;
    background: linear-gradient(45deg, #5846f9 0%, #7b27d8 100%);
    position: relative;
}

.about .content .read-more:hover {
    background: linear-gradient(180deg, #5846f9 0%, #7b27d8 100%);
}

.about .content .read-more i {
    font-size: 22px;
    position: absolute;
    right: 20px;
    top: 12px;
}

.portal-login {
    direction: rtl;
}

.services .icon-box {
    text-align: center;
    padding: 70px 20px 80px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
}

.services .icon-box .icon {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
}

.services .icon-box .icon i {
    font-size: 36px;
    transition: 0.5s;
    position: relative;
}

.services .icon-box .icon svg {
    position: absolute;
    top: 0;
    left: 0;
}

.services .icon-box .icon svg path {
    transition: 0.5s;
    fill: #f5f5f5;
}

.services .icon-box h4 {
    font-weight: 600;
    margin: 10px 0 15px 0;
    font-size: 22px;
}

.services .icon-box h4 a {
    color: #2c4964;
    transition: ease-in-out 0.3s;
}

.services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.services .icon-box:hover {
    border-color: #fff;
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}

.services .iconbox-blue i {
    color: #47aeff;
}

.swiper-slide {
    padding: 20px 20px 20px 20px;
    background-color: #f9f8ff;
}

.swiper-slide2 {
    background-color: white;
    padding: 20px 20px 20px 20px;
}

.swiper-slide3 {
    text-align: center;
}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider,
.testimonials-slider2 {
    overflow: hidden;
    text-align: center;
}

.testimonials .testimonial-item {
    box-sizing: content-box;
    min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50%;
    margin: -40px 0 0 40px;
    position: relative;
    z-index: 2;
    border: 6px solid #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 45px;
    color: #2c4964;
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0 0 0 45px;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
    color: #b1a9fc;
    font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}

.testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 15px 0 15px;
    padding: 20px 20px 60px 20px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1);
}

.swiper-pagination {
    margin-top: 50px;
    position: relative;
}

.swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #5846f9;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: #5846f9;
}

@media (max-width: 767px) {
    .testimonials {
        margin: 30px 10px;
    }
}

.shape {
    text-decoration: line-through red;
    line-height: 2px;
}

#timer {
    text-align: center;
    color: red;
    margin-top: 0px;
}

.faq {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 5%, rgba(0, 125, 255, 1) 70%, rgba(0, 96, 190, 1) 100%);
}

.faq .section-title h2,
.faq .section-title p {
    color: #fff;
}

.faq .section-title h2::after {
    background: rgba(255, 255, 255, 0.6);
}

.faq .faq-list {
    padding: 0 100px;
    direction: rtl;
    text-align: right;
}

.faq .faq-list ul {
    padding: 0;
    list-style: none;
}

.faq .faq-list li+li {
    margin-top: 15px;
}

.faq .faq-list li {
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    position: relative;
}

.faq .faq-list a {
    display: block;
    position: relative;
    font-family: parastoo;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 30px;
    outline: none;
    cursor: pointer;
}

.faq .faq-list .icon-help {
    font-size: 24px;
    position: absolute;
    right: 0;
    left: 20px;
    color: #8577fb;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}

.faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
    display: none;
}

.faq .faq-list a.collapsed {
    color: #2c4964;
}

.faq .faq-list a.collapsed:hover {
    color: #5846f9;
}

.faq .faq-list a.collapsed .icon-show {
    display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
    display: none;
}

@media (max-width: 1200px) {
    .faq .faq-list {
        padding: 0;
    }
}

--------------------------------------------------------------*/ .contact .info-box {
    direction: rtl;
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    background: #fff;
}

.contact .info-box i {
    font-size: 32px;
    direction: rtl;
    color: #5846f9;
    border-radius: 50%;
    padding: 8px;
}

.contact .info-box h3 {
    font-size: 20px;
    color: #2c4964;
    font-weight: 700;
    margin: 10px 0;
}

.contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.contact .php-email-form {
    direction: rtl;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    background: #fff;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 5px;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: #5846f9;
}

.contact .php-email-form input {
    padding: 10px 15px;
}

.contact .php-email-form textarea {
    padding: 12px 15px;
}

.contact .php-email-form button[type=submit]:hover {
    background: #7b27d8;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/

.breadcrumbs {
    padding: 15px 0;
    background: #f2f6f9;
    min-height: 40px;
    margin-top: 85px;
}

@media (max-width: 992px) {
    .breadcrumbs {
        margin-top: 56px;
    }
}

.breadcrumbs h2 {
    font-size: 28px;
    font-weight: 300;
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    font-size: 14px;
    margin: 0;
}

.breadcrumbs ol li+li {
    padding-left: 10px;
}

.breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #3c6387;
    content: "/";
}

@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block;
    }
    .breadcrumbs ol {
        display: block;
    }
    .breadcrumbs ol li {
        display: inline-block;
    }
}

footer {
    background-image: url(/main/pic/logo/footer-bg.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    padding-top: 300px;
    padding-bottom: 60px;
}

footer .section-heading {
    margin-bottom: 45px;
}

footer .section-heading h4 {
    line-height: 45px;
    color: #fff;
    margin-left: 13%;
    margin-right: 13%;
    text-align: center;
}

footer #search {
    margin-bottom: 80px;
}

footer #search input::placeholder {
    color: #fff;
}

.footer-widgets i {
    font-size: 30px;
}

footer #search input {
    font-size: 15px;
    margin-bottom: 20px;
    color: #fff;
    outline: none;
    height: 46px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    width: 100%;
}

footer #search button {
    height: 46px;
    border-radius: 23px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    width: 100%;
    transition: all .5s;
}

footer #search button:hover {
    background-color: #fff;
    color: #4b8ef1;
}

.footer-widget {
    direction: rtl;
}

.footer-widget .logo img {
    max-width: 96px;
    margin-bottom: 30px;
}

#large-modal1 {
    direction: rtl;
    list-style: none;
}

.footer-widget h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px;
    direction: rtl;
}

.footer-widget p {
    margin-bottom: 15px;
}

.footer-widget p,
.footer-widget p a {
    color: #fff;
}

.footer-widget ul {
    list-style: none;
    display: inline;
    float: right;
}

.footer-widget ul li {
    margin-bottom: 10px;
}

.footer-widget ul li:last-child {
    margin-bottom: 0px;
}

.footer-widget ul li a {
    font-size: 15px;
    color: #fff;
    transition: all .3s;
}

.footer-widget a:hover {
    opacity: 0.75;
}

footer .copyright-text p {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
    color: #fff;
}

footer p a {
    color: #fff;
    transition: all .5s;
}

footer p a:hover {
    opacity: 0.75;
    color: #fff;
}

.icons {
    font-size: 30px;
    text-align: center;
    margin-left: 10px;
    color: white;
    transition: all 0.5s ease-out;
}
.share-icons {
    margin-left: 30px;
    font-size: 20px !important;
    text-align: center;
    color: gray;
}

.fa-telegram,
.fa-whatsapp,
.fa-twitter,
.fa-facebook,
.fa-instagram,
.fa-linkedin,
.fa-github {
    transition: all 0.5s ease-out;
}

.fa-telegram:hover {
    color: #0088CC;
    transition: all 0.5s ease-out;
}

.fa-facebook:hover {
    color: #4267B2;
    transition: all 0.5s ease-out;
}

.fa-whatsapp:hover {
    color: #128C7E;
    transition: all 0.5s ease-out;
}

.fa-twitter:hover {
    color: #1da1f2;
    transition: all 0.5s ease-out;
}

.fa-instagram:hover {
    color: #dd2a7b;
    transition: all 0.5s ease-out;
}

.fa-linkedin:hover {
    color: #0072b1;
    transition: all 0.5s ease-out;
}
.main{
    border-radius: 5px;
    box-shadow: 10px 10px 10px #F3F3F3;
    float: right;
    text-align: right;
}
.main h4{
    font-weight: bold;
    margin-top: 30px;
}
.breadcrumb{
    float: right;
}
.d-flex ul{
    list-style: none;
    font-size: 20px;
}
section #about p {
    padding: 5px 30px 5px 30px;
}
#comments{
    display: none;
}
#intro{
    display: block;
}
.cont h1 {
    font-family: sahel !important;
    text-align: center;
}

.name {
    font-family: parastoo !important;
    color: red;
}

#comments {
    background-color: white !important;
}

.date {
    font-family: parastoo !important;
    color: navy;
    font-size: 20px;
}

.desc {
    font-family: parastoo !important;
    font-size: 20px;
    margin-bottom: 20px;
}

.intro {
    color: gray;
    font-size: 15px;
    font-family: parastoo !important;
}

.cont {
    background: #F4F4F4;
    transition: all 0.5s ease-out !important;
}

.cont:hover {
    box-shadow: 5px 10px 18px #888888;
    transition: all 0.5s ease-out !important;
}

.cont h4 {
    font-family: parastoo !important;
    font-weight: bold;
}

.date {
    font-family: parastoo !important;
    text-align: right !important;
}

.tag-title{
    font-weight: bold;
}
.tags a{
    color: gray;

}
footer #search .form-group .error-mail{
    display: none;
    color: #8B0C0C;
    background-color: #FFB5B5;
    border-radius: 5px;
    border: 1px solid #8B0C0C;
}

html body .contact .container form .error-msg{
    display: none;
    color: #8B0C0C;
    background-color: #FFE2E2;
    border-radius: 5px;
    border: 1px solid #8B0C0C;
    text-align: center;
    padding:20px 20px 20px 20px;
}
html body .contact .container form .success-msg{
    display: none;
    color: #008B59;
    background-color: #CAFFEC;
    border-radius: 5px;
    border: 1px solid #008B59;
    text-align: center;
    padding:20px 20px 20px 20px;
}

html body #signup .signup .error-signup{
    display: none;
    color: #8B0C0C;
    background-color: #FFE2E2;
    border-radius: 5px;
    border: 1px solid #8B0C0C;
    text-align: center;
    padding:20px 20px 20px 20px;
}

html body #login .login .error-login{
    display: none;
    color: #8B0C0C;
    background-color: #FFE2E2;
    border-radius: 5px;
    border: 1px solid #8B0C0C;
    text-align: center;
    padding:20px 20px 20px 20px;
}